<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Fixed Search</h3>
        </div>

        <div class="col-md-6">
            <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <h3 id="title">Drug Search</h3>
                <input id="fdaSearch" type="text" placeholder="Type Name of drug" />
                <button id="searchBtn">Search</button>
                <h1>Search Results:</h1>
                {{#each parsedData}}
                {{@key}}:{{.}}
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
